<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <div>
            <form #titleForm="ngForm" >
             <p>
             <button class="w3-button" (click)="allowEdit('title-header')"><i class="far fa-edit"></i></button>
             <input type="text"  id="title-header" disabled="true"
             [(ngModel)]="titleHeader" name="blogTitle" required>
            </p>
            <p>
            <button class="w3-button" (click)="allowEdit('title')"><i class="far fa-edit"></i></button>
            <input type="text"  id="title" disabled="true"
                [(ngModel)]="title" name="blogTitleSub" required>
                <span id="date" class="w3-opacity">{{nowDate}}</span>
            </p>
            </form>
        </div>
        <!-- plus button-->
        <br>
        <div id="btn-controls"> 
        <button class="w3-button w3-xxxlarge" (click)="openModalAddForm('addmodal')"><i class="far fa-plus-square"></i></button>
        <button class="w3-button w3-xxxlarge" (click)="exportHtml()"><i class="far fa-save"></i></button>
        </div>
        <!-- add modal -->
        <div id="addmodal" class="w3-modal">
            <div class="w3-modal-content">
            <div class="w3-container" id="add-modal"> 
                <app-add-form (newItemEvent)="addNote($event)" (addTagEvent)="addTag($event)"></app-add-form> 
            </div>
            </div>
        </div>
        <br>
        <div class="notes" id="insert-notes"> 
  
        </div>
    </div>
<!-- add -->

</div>   
<br>

