
<div class="w3-container">
    <form #addForm="ngForm">
        <p><button class="w3-btn w3-display-topright w3-red" id="ok" (click)="closeForm(false)"><i class="fas fa-times"></i></button></p>
        <p>
            <label>Note Heading</label>
            <input type="text"  id="heading" [(ngModel)]="addHeading" name="addTitle" required>
        </p>
        <p>
            <label>Note</label>
            <textarea id="note" class="w3-input w3-border" style="resize:none" 
            [(ngModel)]="addNote" name="addTextarea" required rows="5" cols="50"></textarea>
        </p>   
        <p>
            <label>Add list with comma as delimiter ex: 'item1,item2'</label>
            <textarea id="list" class="w3-input w3-border" style="resize:none" 
            [(ngModel)]="addList" name="addListText" rows="3" cols="10"></textarea>
        </p>  
        <p>
            <label>Code Example</label>
            <textarea id="code" class="w3-input w3-border" style="resize:none" 
            [(ngModel)]="addCode" name="addCodeNote" required rows="8" cols="50"></textarea>
        </p> 
        <p>
            <label>Add Tags with a comma as delimiter ex: 'tag1,tag2'</label>
            <textarea id="tags" class="w3-input w3-border" style="resize:none" 
            [(ngModel)]="addTag" name="addTagList" rows="3" cols="5"></textarea>
        </p>
        <br>
        <!-- image-->
        <input
        style="display: none"
        type="file" (change)="onFileChanged($event)" #fileInput>
        <div id="btn-controls">
        <button class="w3-btn w3-blue" (click)="fileInput.click()">Import Image</button>
        <button class="w3-btn w3-red" (click)="removeFile()">Remove Image</button>
        </div>
        <br>
        <div>
            <img id="imagePreview" src="../.././assets/pug.jpg" alt="noteImg" style="width:100%; display:none;">
        </div>
        <p><button class="w3-btn w3-green" id="ok" (click)="closeForm(true)"><i class="fas fa-check"></i></button></p>

    </form>
</div>
